.toast_container{
    position: fixed;
    bottom: 20px;
    width: 40%;
    max-width: 720px;
    display: flex;
    align-items: center;
    background-color: rgb(183, 6, 6);
    color: white;
    border-radius:10px 0 0 10px;
    box-shadow: 0 8px 20px -4px rgba(0, 0, 0, 0.2);
    /* left: 50%; */
    right: 0;
    /* transform: translateX(-50%); */
}
